<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>@ViewData["Title"] - BankCards</title>

<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="~/lib/adminlte/bootstrap/css/bootstrap.min.css">
<!--
<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>
-->
<!-- Font Awesome -->
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">

<!-- Ionicons -->
<link rel="stylesheet" href="~/lib/ionicons/css/ionicons.min.css">

<!-- DataTables -->
<link rel="stylesheet" href="~/lib/adminlte/plugins/datatables/dataTables.bootstrap.css">

<!-- Theme style -->
<link rel="stylesheet" href="~/lib/adminlte/dist/css/AdminLTE.min.css">

<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
      page. However, you can choose any other skin. Make sure you
      apply the skin class to the body tag so the changes take effect.
-->
<link rel="stylesheet" href="~/lib/adminlte/dist/css/skins/skin-blue.min.css">

<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. (DEMO!)-->
<link rel="stylesheet" href="~/lib/adminlte/dist/css/skins/_all-skins.min.css">

<!-- iCheck -->
<link rel="stylesheet" href="~/lib/adminlte/plugins/iCheck/square/blue.css">

<!-- daterange picker -->
<link rel="stylesheet" href="~/lib/adminlte/plugins/daterangepicker/daterangepicker.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="~/lib/html5shiv/dist/html5shiv.min.js"></script>
<script src="~/lib/respond/dest/respond.min.js"></script>
<![endif]-->
