<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">YOUR CARDS</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-credit-card"></i> <span>*1234</span></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i> <span>*2345</span></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i> <span>*3456</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
